#piecetitle {
  font-size: 24pt;
}

mei-filedesc > mei-titlestmt > mei-title {
  color: #000000;
}

mei-filedesc > mei-titlestmt > mei-album::before {
  content: '\a'"Album: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt> mei-respstmt > mei-yearpublished::before {
  content: '\a'"Published: ";
  white-space: pre;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="composer"]::before {
  content: '\a'"Composer: ";
  white-space: pre;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="producer"]::before {
  content: '\a'"Producer: ";
  white-space: pre;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="encoder"]::before {
  content: '\a'"Encoded by: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt> mei-respstmt > mei-corpname::before {
  content: '\a'"Label: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-date::before {
  content: '\a'"Date encoded: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-date::after {
  content: '\a \a';
  white-space: pre;
}
