/* This code was designed by Tim Duguid */ 
#piecetitle {
  font-size: 24pt;
}

mei-filedesc > mei-titlestmt > mei-title {
  color: #595b66;
  display: block;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="composer"]::before {
  content: '\a'"Composer: ";
  white-space: pre;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="encoder"]::before {
  content: '\a'"Encoded by: ";
  white-space: pre;
}

#composer {
  margin-top: 2em;
}

mei-filedesc > mei-pubstmt > mei-respstmt {
  display: none;
}

mei-filedesc > mei-pubstmt > mei-date::before {
  content: "Date encoded: "
}

mei-filedesc > mei-pubstmt > mei-date::after {
  content: '\a \a';
  white-space: pre;
}
