/* This code was designed by Tim Duguid */ 
#piecetitle {
  font-size: 24pt;
}

mei-filedesc > mei-titlestmt > mei-title {
  text-align: center;
  color: #000000;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="composer"]::before {
  text-align: center;
  content: '\a'"Composer: ";
  white-space: pre;
}

mei-filedesc > mei-titlestmt> mei-respstmt > mei-persname[role="encoder"]::before {
  text-align: center;
  content: '\a'"Encoded by: ";
  white-space: pre;
}

#composer {
  text-align: center;
  margin-top: 2em;
}

mei-filedesc > mei-pubstmt> mei-respstmt > mei-corpname::before {
 text-align: center;
  content: '\a'"Corpname: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt> mei-respstmt > mei-yearpublished::before {
 text-align: center;
  content: '\a'"Published: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-date::before {
  text-align: center;
  content: '\a'"Date encoded: ";
  white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-date::after {
  text-align: center;
  content: '\a \a';
  white-space: pre;
}
